table {
  margin: 10px;
}

table.table-object {
  width: 40%;
  tr {
    height: 50px;
    td:first-of-type {
      text-align: center;
    }
  }
}

table.table-body {
  width: 60%;
  height: 300px;
  tr {
    height: 100%;
  }
  tr:first-of-type {
    height: 50px;
  }
}

td {
  border: 1px solid black;
  padding: 0 0 0 0;
}

.td-body {
  vertical-align: top;
  padding: 20px;
}

.mail-box {
  display: flex;
  justify-content: space-between;
}

th {
  text-align: center;
}

.clickable {
  height: 50px;
  width: 100%;
  text-align: center;
  vertical-align: middle;
  padding-top: 12px;
}

a {
  color: black;
}

a:hover {
  text-decoration: none;
  color: black;
}

.object-row, .body-row {
  background-color: rgb(194, 231, 246);
  font-size: 18px;
  transition: 0.5s;
}

.object-row:hover {
  background-color: rgb(137, 187, 209);
  font-weight: 200;
}
