<table class="table-body">
  <thead>
    <tr>
      <th>Body</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="td-body">
        <p><strong><%= @email.object %><br></strong></p>
        <p><%= @email.body %></p>
      </td>
    </tr>
  </tbody>
</table>
